<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/login">Yummy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For visitor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/student">student</a>
          <a class="dropdown-item" href="/studentlist">studentlist</a>
          <a class="dropdown-item" href="/try-querystring?a=10&b=abcnp">try-querystring</a>
          <a class="dropdown-item" href="/try-post-form">try-post-form</a>
          <a class="dropdown-item" href="/try-upload">try-upload</a>
          <a class="dropdown-item" href="/shop">shop for visitor</a>
          <a class="dropdown-item" href="/customer">customer info (add,edit)</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For member
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/member/member_edit">edit customer info</a>
          <a class="dropdown-item" href="/shop">shop</a>
          <a class="dropdown-item" href="/member/shoplist">shoplist</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>


  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  {{!-- 輸入送貨地點 --}}
  <div>

    <ul class="navbar-nav">
      {{#if member.loginUser}}
      <li class="nav-item">
        <a class="nav-link">Welcome {{member.loginUser.Name}}</a>
        <span>{{member.logintime}}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fas fa-user">登出</i></a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login"><i class="fas fa-user">登入</i></a>
      </li>
      {{/if}}
    </ul>




  </div>
</nav>