<style>
    
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin:0px;
  padding:0px;
  font-family:'Open Sans', sans-serif;
}
body {
  /* BACKGROUND FROM: subtlepatterns.com */
  background:url(https://www.toptal.com/designers/subtlepatterns/patterns/new_year_background.png);
}
.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  background:#222;
}
.nav-item, .navItem a {
  display:inline-block;
  flex-grow: 1;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}
.nav-item a {
  width:100%;
  padding-top:15px;
  padding-bottom:15px;
  color:gray;
  text-decoration:none;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
  font-weight:600;
  font-size:18px;
}
.nav-item:nth-of-type(1) {
  border-bottom:2px solid #D60F3A;
}
.nav-item:nth-of-type(1) a:hover {
  background:#D60F3A;
}
.nav-item:nth-of-type(2) {
  border-bottom:2px solid #8317AD;
}
.nav-item:nth-of-type(2) a:hover {
  background:#8317AD;
}
.nav-item:nth-of-type(3) {
  border-bottom:2px solid #3116DE;
}
.nav-item:nth-of-type(3) a:hover {
  background:#3116DE;
}
.nav-item:nth-of-type(4) {
  border-bottom:2px solid #0E8FC2;
}
.nav-item:nth-of-type(4) a:hover {
  background:#0E8FC2;
}
.nav-item:nth-of-type(5) {
  border-bottom:2px solid #0EC23E;
}
.nav-item:nth-of-type(5) a:hover {
  background:#0EC23E;
}
.nav-item:nth-of-type(6) {
  border-bottom:2px solid #CFCF13;
}
.nav-item:nth-of-type(6) a:hover {
  background:#CFCF13;
}
</style>



{{!-- google font --}}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius:10px;">
  <a class="navbar-brand" href="/">Yummy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For visitor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/student">student</a>
          <a class="dropdown-item" href="/studentlist">studentlist</a>
          <a class="dropdown-item" href="/try-querystring?a=10&b=abcnp">try-querystring</a>
          <a class="dropdown-item" href="/try-post-form">try-post-form</a>
          <a class="dropdown-item" href="/try-upload">try-upload</a>
          <a class="dropdown-item" href="/shop">The shop for visitor</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For root
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/root/additem">Add items</a>
          <a class="dropdown-item" href="/root/root_prolist">Check items</a>
          <a class="dropdown-item" href="/root/customer">Edit customers info</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For member
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/member/member_edit">edit customer info</a>
          <a class="dropdown-item" href="/shop">shop</a>
          <a class="dropdown-item" href="/member/shoplist">shoplist</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>


  </div>
  {{!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> --}}
  {{!-- 輸入送貨地點 --}}
  <div>

    <ul class="navbar-nav">
      {{#if member.loginUser}}
      <li class="nav-item">
        <a class="nav-link">Welcome {{member.loginUser.Name}}</a>
        <span>{{member.logintime}}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fas fa-user">登出</i></a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login"><i class="fas fa-user">登入</i></a>
      </li>
      {{/if}}
    </ul>




  </div>
</nav>