
<div>
    
<a href="/root/additem" class="btn btn-warning" style="padding:10px; margin:5px">Add Item</a>    
</div>
<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col">Order_No.</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each item}}
    <tr>
      <th scope="row" >{{p_id}}</th>
      <td><img style="width: 75px; height: auto;border-radius:10px;" src="{{Pic}}"></td>
      <td class="format time">{{P_name}}</td>
      <td>{{Price}}</td>
    </tr>
   {{/each}}
    </tbody>
</table>


<script>

</script>